@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h3{
    color: orange;
}
span{
    color: orange;
}
.flexible-continer{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    

    
}
.Link-button{
    text-decoration: none;
    color: white;
     padding: 10px 40px ;
     border-radius: 5px;
     font-weight: 600;
     background-image: linear-gradient(orange,rgb(248, 148, 131));
}
.top-banner{
    background: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background:url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiences-area{
    background: url(/images/exp-bg.png);
    background-repeat: no-repeat;


}
.Experiences-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
   margin-left: 5%;
   margin-right: 5%; 
   padding-left: 20px;
   border-radius: 10px;
   
}
#full-stack-web{
    border-left:7px solid  rgb(255, 190, 10);
}
#Baby-web-dev{
    border-left:  7px solid  rgb(250, 100, 13);
}
footer h4{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}